# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/

# Environments
.env
.envrc
.venv/
venv/
env/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs/temp
*.log
tmp/
temp/
